DOMAIN_NAME=your_login.42.fr

MYSQL_DATABASE=your_database
MYSQL_USER=your_db_user

WP_TITLE=your_site_title
WP_ADMIN_USER=your_owner_user
WP_ADMIN_EMAIL=owner@example.com
WP_USER=your_regular_user
WP_USER_EMAIL=user@example.com

FTP_USER=your_ftp_user
